@font-face {
  font-family:'Nunito Black';
  src: url('../assets/fonts/Nunito-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Nunito Extra Bold';
  src: url('../assets/fonts/Nunito-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Nunito Bold';
  src: url('../assets/fonts/Nunito-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Nunito Semi Bold';
  src: url('../assets/fonts/Nunito-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Nunito Regular';
  src: url('../assets/fonts/Nunito-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Nunito Light';
  src: url('../assets/fonts/Nunito-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
