// FONTS
$main-font: 'Nunito Black';
$main-font-light: 'Nunito Light';
$main-font-bold: 'Nunito Bold';
$main-font-regular: 'Nunito Regular';

$red: #e55039;
$blue: #4a69bd;
$yellow: #fbc531;
$green: #78e08f;
$black: #2f3640;