.words-board {
  padding: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;

  font-size: 72px;
  font-weight: bold;

  .title {
    display: flex;
    justify-content: center;

    color: #f1efec;

  text-shadow: 4px 4px 0px rgb(23, 96, 156),
    7px 7px 0px rgb(230, 33, 131),
    10px 10px 0px rgb(226, 230, 33),
    13px 13px 0px rgb(46, 33, 230);
  }

  .random-word {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    & > * {
      margin: 30px 10px;
    }
  }

  &-options {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    width: 100%;

    & > * {
      margin: 0 10px;
    }
  }

  .word-completed {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .word {
      padding: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: 10px;
      border-radius: 20px;
      background-color: #3eb1e2;


      font-size: 140px;
      font-weight: bold;

      min-width: 50%;
      height: 200px;

      color: rgb(255, 255, 255);
      transition: all 0.3s ease-in-out;

      &.completed {
      color: rgb(255, 255, 255);
        text-shadow: 4px 4px 0px rgb(23, 96, 156),
    7px 7px 0px rgb(230, 33, 131),
    10px 10px 0px rgb(226, 230, 33),
    13px 13px 0px rgb(46, 33, 230);
        font-size: 160px;
      }
    }
  }

  .letter {
    cursor: pointer;
    user-select: none;

    &.active {
      pointer-events: none;
      background-color: #444444;
      color: rgb(255, 255, 255);
    }

    justify-content: center;
    align-items: center;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 56px;
    }

    width: 100px;
    height: 100px;

    color: #f1efec;

    background-color: #4a69bd;
    box-shadow: 6px 6px 0px rgb(240, 240, 240);
    border-radius: 15px;
  }

  .button {
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: 3px 3px 0px rgb(240, 240, 240);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;

    &-red {
      background-color: $red;

      &:hover {
        background-color: lighten( $red, 10);
      }
    }

    &-blue {
      background-color: $blue;

      &:hover {
        background-color: lighten($blue, 10);
      }
    }

    &-yellow {
      background-color: $yellow;
      &:hover {
        background-color: lighten( $yellow, 10);
      }
    }

    &-green {
      background-color: $green;
      &:hover {
        background-color: lighten( $green, 10);
      }
    }
  }
}